<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
</style>
<div class="body">
  <div>
    <span><a [routerLink]="['/']">Home</a></span>
    <span><a [routerLink]="['/produto']">Todos os Produtos</a></span>
    <span><a [routerLink]="['/listaproduto']">Lista de produtos</a></span>
    <span><a [routerLink]="['/servico']">Todos os servicos</a></span>
    <span><a [routerLink]="['/listaservico']">Lista de serviços</a></span>
    <span><a [routerLink]="['/conta']">Todas as contas</a></span>
    <span><a [routerLink]="['/listaconta']">Lista de contas</a></span>
  </div>
</div>
