<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  </style>
<div class="body">
<div>
  <h1>Editar produtos</h1>
  <hr>
  <form>
  <p>
      <label>Nome da conta:</label><br>
    <input type="text" [(ngModel)]="conta.nome_conta" name="nome_conta">
  </p>
  <p>
    <label>Valor da conta:</label><br>
  <input type="number" [(ngModel)]="conta.valor_conta" name="valor_conta">
  </p>
  <p>
    <label>Vencimento:</label><br>
  <input type="number" [(ngModel)]="conta.dataVenc" name="dataVenc">
  </p>
  <p>
    <label>Código:</label><br>
  <input type="number" [(ngModel)]="conta.codigo_conta" name="codigo_conta">
  </p>
  <button (click)="editarConta(conta)">Atualizar</button>
  </form>
</div>
</div>
